In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Load the dataset
df = pd.read_csv("Mall_Customers.csv")

In [5]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
#Identify and handle missing values
print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [7]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

In [8]:
# Standardize text values (e.g., Gender)
df['Gender'] = df['Gender'].str.lower().str.strip()

In [9]:
# Rename column headers to be clean and uniform
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [12]:
# Check and fix data types
df['age'] = df['age'].astype(int)

In [15]:
# Save the cleaned dataset
save_df = df.to_csv("Mall_Customers_Cleaned.csv", index=False)

In [20]:
save_df = pd.read_csv("Mall_Customers_Cleaned.csv")
save_df.head()

   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    male   19                  15                      39
1           2    male   21                  15                      81
2           3  female   20                  16                       6
3           4  female   23                  16                      77
4           5  female   31                  17                      40