In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
# Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

In [32]:
# Load dataset
df = pd.read_csv("KaggleV2-May-2016.csv")

In [23]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [24]:
# Check for missing values
print("Missing values per column: \n",df.isnull().sum())

Missing values per column:
 PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [25]:
# (This dataset usually has no missing values, but if found, handle them)

In [26]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [27]:
# Standardize text values
# Convert gender and no-show to lowercase
df['Gender'] = df['Gender'].str.lower().str.strip()
df['No-show'] = df['No-show'].str.lower().str.strip()

In [28]:
# Convert date formats
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], errors='coerce')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], errors='coerce')

In [29]:
# Rename columns (lowercase and no spaces)
df.columns = df.columns.str.lower().str.strip().str.replace("-", "_").str.replace(" ", "_")

In [30]:
# Check and fix data types
# Ensure age is integer
df['age'] = df['age'].astype(int)

In [31]:
# Save cleaned dataset
save_df=df.to_csv("KaggleV2_Cleaned.csv", index=False)